<div class="col-lg-6" id="movimientos">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Movimientos</h5>
      <div class="ibox-tools">
      </div>
    </div>
    <div class="ibox-content">
      <form>
        <div class="form-group">
          <!-- label class="font-normal"></label -->
          <div class="input-group">
            <select data-placeholder="Seleccionar insumo..." class="chosen-select" style="width:350px;"
            tabindex="2">
              <option value="">Seleccionar insumo...</option>
              {#insumos}
              <option value="{id}">{nombre}</option>
              {/insumos}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="radio-inline i-checks">
            <label class="">
              <div class="iradio_square-green" style="position: relative;">
                <input type="radio" value="+" name="a" style="position: absolute; opacity: 0;">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
              </div>
              <i></i>Entra
            </label>
          </div>
          <div class="radio-inline i-checks">
            <label class="">
              <div class="iradio_square-green" style="position: relative;">
                <input type="radio" value="-" name="a" style="position: absolute; opacity: 0;">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
              </div>
              <i></i>Sale
            </label>
          </div>
          <div class="inline cantidad">
            <input type="cantidad" placeholder="Cantidad" class="form-control">
          </div>
        </div>
        <button class="btn btn-white">OK</button>
      </form>
    </div>
  </div>
</div>
